<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Plotly Chart Demo
    </h1>
    <table>
        <tr>
            <th><h2>Pair</h2></th>
            <th><h2>Last</h2></th>
            <th><h2>Date</h2></th>
            <th><h2>Best</h2></th>
            <th><h2></h2></th>
            <th><h2>Trainer Date</h2></th>
            <th><h2>Trader Status</h2></th>
            <th><h2>Trader Date</h2></th>
            <th><h2>Limit</h2></th>
            <th><h2>Actual</h2></th>
        </tr>
        {% for Cur in Currency %}
        <tr>
            <td><a href="plots/pair?pair={{ Cur }}">{{ Cur }}</a></td>
            <td>{{ Currency[Cur].last }}</td>
            <td>{{ Currency[Cur].date }}</td>
            <td>Stoploss:&nbsp;{{ Currency[Cur].best.stoploss }} <br/>
                Takeprofit:&nbsp;{{ Currency[Cur].best.takeprofit }} <br/>
                nPCs:&nbsp;{{ Currency[Cur].best.nPCs }} <br/>
            </td>
            <td>
                ROI:&nbsp;{{ Currency[Cur].best.ROI }} <br/>
                accuracies:&nbsp;{{ Currency[Cur].best.accuracies }} <br/>
                min:&nbsp;{{ Currency[Cur].best.min }} <br/>
            </td>
            {% for i in Currency[Cur].TraderStatus %}
            <td>{{ Currency[Cur].TraderStatus[i].date }}</td>
            <td>Takeprofit:&nbsp;{{ Currency[Cur].TraderStatus[i].takeprofit_price }} <br/>
                Last:&nbsp;{{ Currency[Cur].last }} <br/>
                Stoploss:{{ Currency[Cur].TraderStatus[i].stoploss_price }}
                <meter value={{ Currency[Cur].last }} min={{ Currency[Cur].TraderStatus[i].stoploss_price }} max={{ Currency[Cur].TraderStatus[i].takeprofit_price }} />
                </meter>
            </td>
            <td>Stoploss:&nbsp;{{ Currency[Cur].TraderStatus[i].stoploss }} <br/>
                Takeprofit:&nbsp;{{ Currency[Cur].TraderStatus[i].takeprofit }} <br/>
                nPCs:&nbsp;{{ Currency[Cur].TraderStatus[i].nPCs }} <br/>
                Proba1:&nbsp;{{ Currency[Cur].TraderStatus[i].Proba1 }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>